# Chow-Lin Interpolation

**Este proceso nos ayuda a manipular bases que tienen datos con frecuencia de tiempo mezcladas. Una de las alternativas para tratar dichos casos es a través del 'Chow-Lin interpolation'.**

In [5]:
#install.packages("tempdisagg")

https://cran.r-project.org/web/packages/tempdisagg/tempdisagg.pdf

In [6]:
# Installing library
library(tempdisagg)

Warning message:
"package 'tempdisagg' was built under R version 3.6.3"

In [240]:
db = read.csv("C:/Users/jpolancoroque/Desktop/IESEG/Experimentos/Databases/chowlininterpolation2.csv")
db = db$X
db

 [1]  6211  6591  6814  7028  7193  7287  7638  8349  9029  9484 10429 11225
[13] 11622 12754 13271 13432 14376 14783 14788 15566 16142 16169 17687 18527

In [241]:
db = ts(db, start = c(2018, 1), frequency = 4)
db

     Qtr1  Qtr2  Qtr3  Qtr4
2018  6211  6591  6814  7028
2019  7193  7287  7638  8349
2020  9029  9484 10429 11225
2021 11622 12754 13271 13432
2022 14376 14783 14788 15566
2023 16142 16169 17687 18527

In [246]:
# Building the benchmark and indicator series
year_sums <- c(400, 450, 500, 800, 1000, 600)  
low_freq_ts = ts(year_sums, frequency = 1, start=2018, end=2023)

model <- td(low_freq_ts ~ db, conversion = "average", method = "chow-lin-fixed", fixed.rho = 0.9)
high_freq_ts = predict(model)

In [247]:
high_freq_ts

     Qtr1      Qtr2      Qtr3      Qtr4
2018  387.7368  392.9665  402.0011  417.2957
2019  438.3345  449.0854  454.9582  457.6219
2020  450.6514  463.9491  509.1508  576.2488
2021  661.8003  759.1794  847.4200  931.6003
2022 1031.0573 1055.6156 1007.6593  905.6677
2023  732.5908  601.3067  543.3614  522.7411

In [11]:
# Understanding the hyperparameters
#?td

In [53]:
# As the conversion method states, the mean of all the quarters is the annual total
mean(high_freq_ts[time(high_freq_ts) >= 2019 & time(high_freq_ts) < 2020])

[1] 450

In [96]:
# Getting back to the original state of data
ta(high_freq_ts, conversion = "average", to = "annual")

A Time Series:
[1]  400  450  500  800 1000  600